<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robot.olpit.loomonavigation">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">

        <activity android:name="com.robot.olpit.loomonavigation.CameraActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="packageTo1" android:value="com.segway.robot.TrackingSample_Phone"></meta-data>
        <meta-data android:name="packageTo2" android:value="com.robot.olpit.loomophone"></meta-data>
    </application>
</manifest>
